.mbottom {
  margin-bottom: 100px;
}

.space {
  margin-bottom: 100px;
}

hr {
  color: #000 !important;
  opacity: 100%;
  border: 1.5px solid;
  border-radius: 25px;
}

.feature-icon-small {
  width: 2.5rem;
  height: 2.5rem;
}

.acolor{
  color: #0877b1;
}


.mtop{
  margin-top: 80px;
}